@{
    ViewData["Title"] = "Categorias";
}

﻿<div class="col-12 mb-2 mb-xl-3 d-flex">
    <div class="col-auto">
        <h5 class="card-title">Gerenciamento de Categorias</h5>
    </div>

    <div class="col-auto ms-auto text-end mt-1">
        <a class="btn btn-dark" asp-action="Create">
            Cadastrar nova Categoria
        </a>
    </div>
</div>

<div class="card px-0 px-lg-4 pb-lg-4">
    <div class="d-flex align-items-center my-4">
        @*  <h5>Pessoas</h5> *@

        <div class="col-12 col-lg-3 px-0 px-lg-2 mt-1 mt-lg-0 ms-auto">
            <div class="input-group rounded">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control border-start-0" placeholder="Buscar" id="search" name="search" />
            </div>
        </div>

        <button id="button-search" class="btn btn-dark" type="button">
            Buscar
        </button>
    </div>

    <div class="table-responsive">
        <table class="table mb-5" id="table-category">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Ativo</th>
                    <th scope="col" class="text-center">Nome categoria</th>
                    <th scope="col" class="text-center">Tipo</th>
                    <th scope="col" class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody class="text-center">
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
	<script src="~/js/category/index.js"></script>
}
