@model Finance.Control.webApp.ViewModel.AppUserViewModel


<div class="card">
    <div class="col-12 mt-5 mb-xl-3 d-flex">
        <div class="col-5">
            <label class="form-label">Nome</label>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-5">
            <label class="form-label">Email</label>
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="col-12 mt-1 mb-xl-3 d-flex">
        <div class="col-5">
            <label class="form-label">Senha</label>
            <input class="form-control" asp-for="PassWord" />
            <span asp-validation-for="PassWord" class="text-danger"></span>
        </div>
        <div class="col-5">
            <label class="form-label">Confirmar Senha</label>
            <input class="form-control" asp-for="ConfirmPassWord" />
            <span asp-validation-for="ConfirmPassWord" class="text-danger"></span>
        </div>
    </div>

    <div class="col-12 mt-1 mb-xl-3 d-flex">
        <div class="col-5">
            <label class="form-label">Tipo de Perfil</label>
            <select class="form-select" asp-for="AppRoleId" asp-items="@Model.AppRoleSelectListItems">
                <option disabled selected>Selecione</option>

            </select>

            <span asp-validation-for="AppRoleId" class="text-danger"></span>
        </div>
    </div>

    ﻿<div class="col-12 mb-2 mb-xl-3 d-flex">
        <div class="col-auto ms-auto text-end mt-1">
            <button class="btn btn-primary" type="submit">
                Salvar
            </button>
        </div>
    </div>


</div>